<div [class]="showViewCasingPopup? 'modal fade show':'modal fade'" [ngStyle]="{'display': showViewCasingPopup? 'block' : 'none'}" style="height: 80vh;" id="addCasingModel" tabindex="-1" role="dialog" aria-labelledby="addCasingModel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="height: 56vh;">
            <div class="modal-header">
                <h5 class="modal-title" id="mediumModalLabel">Casing Details</h5>
                <button type="button" (click)="CloseViewCasingPopup()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="overflow: auto;">
              <div class="row form-group">
                <div class="col col-md-6"><label for="text-input" class=" form-control-label"><b>Brand:</b></label></div>
                <div class="col-12 col-md-6">
                  {{viewPart.Brand}}
                </div>
              </div>
              <div class="row form-group">
                <div class="col col-md-6"><label for="text-input" class=" form-control-label"><b>Model:</b></label></div>
                <div class="col-12 col-md-6">
                  {{viewPart.Model}}
                </div>
              </div>
              <div class="row form-group">
                <div class="col col-md-6"><label for="text-input" class=" form-control-label"><b>Dimensions:</b></label></div>
                <div class="col-12 col-md-6">
                  {{viewPart.Dimensions}}
                </div>
              </div>
              <div class="row form-group">
                <div class="col col-md-6"><label for="text-input" class=" form-control-label"><b>Side Panel:</b></label></div>
                <div class="col-12 col-md-6">
                  {{viewPart.SidePanel}}
                </div>
              </div>
              <div class="row form-group">
                <div class="col col-md-6"><label for="text-input" class=" form-control-label"><b>Color:</b></label></div>
                <div class="col-12 col-md-6">
                  {{viewPart.Color}}
                </div>
              </div>
              <div class="row form-group">
                <div class="col col-md-6"><label for="text-input" class=" form-control-label"><b>Form Factor:</b></label></div>
                <div class="col-12 col-md-6">
                  {{viewPart.FormFactor}}
                </div>
              </div>
              <div class="row form-group">
                <div class="col col-md-6"><label for="text-input" class=" form-control-label"><b>IO Ports:</b></label></div>
                <div class="col-12 col-md-6">
                  {{viewPart.IOPorts}}
                </div>
              </div>
              <div class="row form-group">
                <div class="col col-md-6"><label for="text-input" class=" form-control-label"><b>Cooling System:</b></label></div>
                <div class="col-12 col-md-6">
                  {{viewPart.CoolingSystem}}
                </div>
              </div>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="CloseViewCasingPopup()" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
