<div [class]="showDeleteUserPopup? 'modal fade show':'modal fade'" [ngStyle]="{'display': showDeleteUserPopup? 'block' : 'none'}" id="addUserModel" tabindex="-1" role="dialog" aria-labelledby="addUserModel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mediumModalLabel">Delete User</h5>
        <button type="button" (click)="CloseDeleteUserPopup()" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="overflow: auto;">
        Are you sure want to delete this record?
      </div>
      <div class="modal-footer">
        <button type="button" (click)="CloseDeleteUserPopup()" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" (click)="deleteUser()" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>
