<div [class]="showAddRamPopup? 'modal fade show':'modal fade'" [ngStyle]="{'display': showAddRamPopup? 'block' : 'none'}" style="height: 80vh;" id="addProcessorModel" tabindex="-1" role="dialog" aria-labelledby="addProcessorModel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="height: 50vh;">
            <div class="modal-header">
                <h5 class="modal-title" id="mediumModalLabel">Add RAM</h5>
                <button type="button" (click)="CloseAddRamPopup()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="overflow: auto;">
                    <div class="card-body card-block">
                        <form [formGroup]="RAMForm" class="form-horizontal">
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="text-input" class=" form-control-label">Brand</label></div>
                                <div class="col-12 col-md-9">
                                    <input type="text" formControlName="brand" [(ngModel)]="part.Brand" [ngClass]="{ 'input-error': submitted && this.RAMForm?.controls?.brand?.errors }" id="text-input" name="text-input" class="form-control" autocomplete="off">
                                    <div *ngIf="submitted && this.RAMForm?.controls?.brand?.errors" class="invalid-feedback">
                                        <div class="error-message" *ngIf="this.RAMForm?.controls?.brand?.errors?.required">Brand is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="text-input" class=" form-control-label">Model</label></div>
                                <div class="col-12 col-md-9">
                                    <input type="text" formControlName="model" [(ngModel)]="part.Model" [ngClass]="{ 'input-error': submitted && this.RAMForm?.controls?.brand?.errors }" id="text-input" name="text-input" class="form-control" autocomplete="off">
                                    <div *ngIf="submitted && this.RAMForm?.controls?.model?.errors" class="invalid-feedback">
                                        <div class="error-message" *ngIf="this.RAMForm?.controls?.model?.errors?.required">Model is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="text-input" class=" form-control-label">Memory Technology</label></div>
                                <div class="col-12 col-md-9">
                                    <select formControlName="MemoryType" [(ngModel)]="part.MemoryType" [ngClass]="{ 'input-error': submitted && this.RAMForm?.controls?.MemoryType?.errors }" class="form-control">
                                      <option value="DDR" selected>DDR</option>
                                      <option value="DDR2">DDR2</option>
                                      <option value="DDR3">DDR3</option>
                                      <option value="DDR4">DDR4</option>
                                    </select>
                                    <div *ngIf="submitted && this.RAMForm?.controls?.MemoryType?.errors" class="invalid-feedback">
                                        <div class="error-message" *ngIf="this.RAMForm?.controls?.MemoryType?.errors?.required">Memory Technology is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                              <div class="col col-md-3"><label for="text-input" class=" form-control-label">Memory Speed</label></div>
                              <div class="col-12 col-md-9">
                                <div class="input-group">
                                  <input type="number" formControlName="MemoryFrequency" [(ngModel)]="part.MemoryFrequency" [ngClass]="{ 'input-error': submitted && this.RAMForm?.controls?.MemoryFrequency?.errors }" id="text-input" name="text-input" class="form-control" autocomplete="off">
                                  <div class="input-group-addon">MHZ</div>
                                  <div *ngIf="submitted && this.RAMForm?.controls?.MemoryFrequency?.errors" class="invalid-feedback">
                                    <div class="error-message" *ngIf="this.RAMForm?.controls?.MemoryFrequency?.errors?.required">Memory Speed is required</div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="row form-group">
                              <div class="col col-md-3"><label for="text-input" class=" form-control-label">Memory Size</label></div>
                              <div class="col-12 col-md-9">
                                <div class="input-group">
                                  <input type="number" formControlName="MemorySize" [(ngModel)]="part.MemorySize" [ngClass]="{ 'input-error': submitted && this.RAMForm?.controls?.MemorySize?.errors }" id="text-input" name="text-input" class="form-control" autocomplete="off">
                                  <div class="input-group-addon">GB</div>
                                  <div *ngIf="submitted && this.RAMForm?.controls?.MemorySize?.errors" class="invalid-feedback">
                                    <div class="error-message" *ngIf="this.RAMForm?.controls?.MemorySize?.errors?.required">Memory Size is required</div>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </form>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="CloseAddRamPopup()" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" (click)="onSubmitForm()" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
