<div [class]="showAddProcessorPopup? 'modal fade show':'modal fade'" [ngStyle]="{'display': showAddProcessorPopup? 'block' : 'none'}" style="height: 80vh;" id="addProcessorModel" tabindex="-1" role="dialog" aria-labelledby="addProcessorModel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="height: 72vh;">
            <div class="modal-header">
                <h5 class="modal-title" id="mediumModalLabel">Add Processor</h5>
                <button type="button" (click)="CloseAddProcessorPopup()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="overflow: auto;">
                    <div class="card-body card-block">
                        <form [formGroup]="processorForm" class="form-horizontal">
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="text-input" class=" form-control-label">Brand</label></div>
                                <div class="col-12 col-md-9">
                                    <input type="text" formControlName="brand" [(ngModel)]="part.Brand" [ngClass]="{ 'input-error': submitted && this.processorForm?.controls?.brand?.errors }" id="text-input" name="text-input" class="form-control" autocomplete="off">
                                    <div *ngIf="submitted && this.processorForm?.controls?.brand?.errors" class="invalid-feedback">
                                        <div class="error-message" *ngIf="this.processorForm?.controls?.brand?.errors?.required">Brand is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="text-input" class=" form-control-label">Model</label></div>
                                <div class="col-12 col-md-9">
                                    <input type="text" formControlName="model" [(ngModel)]="part.Model" [ngClass]="{ 'input-error': submitted && this.processorForm?.controls?.model?.errors }" id="text-input" name="text-input" class="form-control" autocomplete="off">
                                    <div *ngIf="submitted && this.processorForm?.controls?.model?.errors" class="invalid-feedback">
                                        <div class="error-message" *ngIf="this.processorForm?.controls?.model?.errors?.required">Model is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="text-input" class=" form-control-label">Generation</label></div>
                                <div class="col-12 col-md-9">
                                    <!--<input type="text" formControlName="generation" [(ngModel)]="part.ProcessorGeneration" [ngClass]="{ 'input-error': submitted && this.processorForm?.controls?.generation?.errors }" id="text-input" name="text-input" class="form-control" autocomplete="off">
                                    <div *ngIf="submitted && this.processorForm?.controls?.generation?.errors" class="invalid-feedback">
                                        <div class="error-message" *ngIf="this.processorForm?.controls?.generation?.errors?.required">Generation is required</div>
                                    </div>-->
                                  <select formControlName="generation" [(ngModel)]="part.ProcessorGeneration" [ngClass]="{ 'input-error': submitted && this.processorForm?.controls?.generation?.errors }" class="form-control">
                                    <option value="1st" selected>1st Generation</option>
                                    <option value="2nd">2nd Generation</option>
                                    <option value="3rd">3rd Generation</option>
                                    <option value="4th">4th Generation</option>
                                    <option value="5th">5th Generation</option>
                                    <option value="6th">6th Generation</option>
                                    <option value="7th">7th Generation</option>
                                    <option value="8th">8th Generation</option>
                                    <option value="9th">9th Generation</option>
                                    <option value="10th">10th Generation</option>
                                    <option value="11th">11th Generation</option>
                                  </select>
                                  <div *ngIf="submitted && this.processorForm?.controls?.generation?.errors" class="invalid-feedback">
                                        <div class="error-message" *ngIf="this.processorForm?.controls?.generation?.errors?.required">Generation is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="text-input" class=" form-control-label">Socket Support</label></div>
                                <div class="col-12 col-md-9">
                                    <input type="text" formControlName="socketSupport" [(ngModel)]="part.SocketSupport" [ngClass]="{ 'input-error': submitted && this.processorForm?.controls?.socketSupport?.errors }" id="text-input" name="text-input" class="form-control" autocomplete="off">
                                    <div *ngIf="submitted && this.processorForm?.controls?.socketSupport?.errors" class="invalid-feedback">
                                        <div class="error-message" *ngIf="this.processorForm?.controls?.socketSupport?.errors?.required">Socket support is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="text-input" class=" form-control-label">Cache</label></div>
                                <div class="col-12 col-md-9">
                                  <div class="input-group">
                                  <input type="number" formControlName="cache" [(ngModel)]="part.Cache" [ngClass]="{ 'input-error': submitted && this.processorForm?.controls?.cache?.errors }" id="text-input" name="text-input" class="form-control" autocomplete="off">
                                  <div class="input-group-addon">MB</div>
                                  <div *ngIf="submitted && this.processorForm?.controls?.cache?.errors" class="invalid-feedback">
                                    <div class="error-message" *ngIf="this.processorForm?.controls?.cache?.errors?.required">Cache is required</div>
                                  </div>
                                  </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="text-input" class=" form-control-label">Base Frequency</label></div>
                                <div class="col-12 col-md-9">
                                  <div class="input-group">
                                    <input type="number" formControlName="baseFrequency" [(ngModel)]="part.BaseFrequency" [ngClass]="{ 'input-error': submitted && this.processorForm?.controls?.baseFrequency?.errors }" id="text-input" name="text-input" class="form-control" autocomplete="off">
                                    <div class="input-group-addon">GHZ</div>
                                    <div *ngIf="submitted && this.processorForm?.controls?.baseFrequency?.errors" class="invalid-feedback">
                                      <div class="error-message" *ngIf="this.processorForm?.controls?.baseFrequency?.errors?.required">Base frequency is required</div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="text-input" class=" form-control-label">Turbo Frequency</label></div>
                                <div class="col-12 col-md-9">
                                  <div class="input-group">
                                    <input type="number" formControlName="turboFrequency" [(ngModel)]="part.TurboFrequency" [ngClass]="{ 'input-error': submitted && this.processorForm?.controls?.turboFrequency?.errors }" id="text-input" name="text-input" class="form-control" autocomplete="off">
                                    <div class="input-group-addon">GHZ</div>
                                    <div *ngIf="submitted && this.processorForm?.controls?.turboFrequency?.errors" class="invalid-feedback">
                                        <div class="error-message" *ngIf="this.processorForm?.controls?.turboFrequency?.errors?.required">Turbo frequency is required</div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="text-input" class=" form-control-label">No. of Cores</label></div>
                                <div class="col-12 col-md-9">
                                    <input type="number" formControlName="noOfCores" [(ngModel)]="part.NumberOfCore" [ngClass]="{ 'input-error': submitted && this.processorForm?.controls?.noOfCores?.errors }" id="text-input" name="text-input" class="form-control" autocomplete="off">
                                    <div *ngIf="submitted && this.processorForm?.controls?.noOfCores?.errors" class="invalid-feedback">
                                        <div class="error-message" *ngIf="this.processorForm?.controls?.noOfCores?.errors?.required">No. of Cores is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="text-input" class=" form-control-label">No. of Threads</label></div>
                                <div class="col-12 col-md-9">
                                    <input type="number" formControlName="noOfThreads" [(ngModel)]="part.NumberOfThread" [ngClass]="{ 'input-error': submitted && this.processorForm?.controls?.noOfThreads?.errors }" id="text-input" name="text-input" class="form-control" autocomplete="off">
                                    <div *ngIf="submitted && this.processorForm?.controls?.noOfThreads?.errors" class="invalid-feedback">
                                        <div class="error-message" *ngIf="this.processorForm?.controls?.noOfThreads?.errors?.required">No. of Threads is required</div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="CloseAddProcessorPopup()" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" (click)="onSubmitForm()" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
